<h1 style="background-color: rgb(172, 250, 126); text-align: center;">Book My Doctor</h1>

<table style=" width: 100%;height: 10%; background-color: rgb(172, 254, 161);">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/register"> Register </a>  </td>
  
    <td style="width: 15%; text-align: center;">  <a routerLink="/appontmenthistory"> My Appointment </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewhospital"> View all Hospital </a>  </td>

  </tr>
</table>
<hr/>
<router-outlet></router-outlet>
